# Contentful CMS
VITE_CONTENTFUL_SPACE=your_contentful_space_id
VITE_CONTENTFUL_ACCESS_TOKEN=your_contentful_cda_token
# Interaction service
VITE_INTERACTION_SPACE=your_interaction_space_id
VITE_INTERACTION_ENVIRONMENT=your_interaction_environment
VITE_INTERACTION_ACCESS_TOKEN=your_interaction_access_token
VITE_IP_DISCOVERY_URL=https://your-ip-discovery-endpoint.example
